<form [formGroup]="registerForm" (ngSubmit)="register()">

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">
                <h4> <br> <h4>{{aim}}</h4></h4><br>


                <input id="uname" type="text" class="text" formControlName="uname" placeholder="Username"> <br><br>
            
                <input id="accno" type="text" class="text" formControlName="accnum" placeholder="Account Number"> <br><br>
            
                <input id="pswd" type="password" class="text" formControlName="pswd" placeholder="password"> <br><br>

                <input type="button" value="Register" (click)="register()" class="button button1 butefect"> <br><br>

                <a class="textfp" routerLink="">Log In</a>

            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

</form>